<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      h1 {
        font-weight: 600;
      }
      .userName {
        font-weight: 600;
        color: darkblue;
      }
      .expiresIn {
        color: darkred;
        font-weight: 600;
      }
    </style>
    <title>Reset your password</title>
  </head>
  <body>
    <h1>Phonebook app</h1>
    <h2>Hello, <span class="userName">{{name}}</span></h2>
    If you did send a request to reset your password, сlick
    <a href="{{link}}">here</a>
    <p>The link is valid for <span class="expiresIn">5</span> min.</p>
  </body>
</html>
